<div class="menu--mobile-toggle">
  <a class="branchee-toggle-menu branchee-theme-{{ branchee_theme }}" href="#menu--mobile">
    <i class="fa fa-bars" aria-hidden="true"></i>
    <span class="sr-only">Menu</span>
  </a>
</div>
<div id="menu--mobile" class="branchee-theme-{{ branchee_theme }}">
<div class="branchee-menu">
  {% block menu %}
    {{ menu }}
  {% endblock %}
  </div>
</div>
